<nav class="nav">
  <a class="navbar-brand" href="#" id="flati">flati</a>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
      aria-selected="true">HOME</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
      aria-selected="false">PAGES</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
      aria-selected="false">WORK</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
        aria-selected="false">STYLE</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
      aria-selected="false">EXTRAS</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
      aria-selected="false">BLOG</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
      aria-selected="false">CONTACT</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
      aria-selected="false">MORE THEME</a>
  </div>
</nav>
<div class="firstcard">
  <div class="card-body">
    <h5 class="card-title">FLATI BOOTSTRAP</h5>
    <h6 class="card-subtitle ">CREATE-DESIGN-CODE</h6>
    <img class="robot" src="{{imageSrcrobot}}" alt="robot">
    <a href="#" class="btn btn-primary">OURPORTFOLIO</a>
    <img class="roket" src="{{imageSrcroket}}" alt="roket">
  </div>
</div>

<div class="subcard">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>I think most
        <span class="aa">programmers</span> spend the first 5 years of their career</p>
      <p>matering
        <a class="comp">complexity</a>and the rest of their lives learning
        <b>simplicity</b>
      </p>
      <p>Buzz Andersen</p>
    </blockquote>
  </div>
</div>
<div class="max">
<div class="card-deck">
<div class="tool">
<div class="row">
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="{{imageSrctool1}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DESIGN</h5>
      <h3 class="decription">built for & by nerds</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="{{imageSrctool2}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CODE</h5>
      <h3 class="decription">12-column grid</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="{{imageSrctool3}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CREATE</h5>
      <h3 class="decription">responsive</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="{{imageSrctool4}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SUPPORT</h5>
      <h3 class="decription">growing library</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
  </div>
</div>
</div>
</div>

<div class="min">
<div class="card-deck">
  <div class="col-sm-6">
  <div class="card" id="recent" >
    <div class="card-body">
      <h5 class="card-title">Recent Work</h5>
      <p class="card-text">Lorm ipsum dolor sit amet,rebum putant recusabo inius,pri simul tempor ne,his ei summo virtute.
      <p><span>Nam ea labitur pericula.Meis tamquam pro te,cibo mutat necessittis id vim.Anhis tamquam postulant.</span></p>
      <a href="#" class="btn btn-primary">view portfolio</a>
    </div>
    </div>
    </div>
  
  <div class="card" id="cata">
    <img src="{{imageScrline}}" alt="line">
    <div class="card-body">
     
      <h5 class="card-title">CATALOGUE</h5>
      <p class="card-text">An his tamquam postulant,pri id mazim nostrud diceret.</p>

    </div>
  </div>
  <div class="card" id="cata">
    <img src="{{imageScrline}}" alt="line">
    <div class="card-body">
      <h5 class="card-title">LOUPE</h5>
      <p class="card-text">An his tamquam postulant,pri id mazim nostrud diceret.</p>

    </div>
  </div>
  
  <div class="card" id="cata">
    <img src="{{imageScrline}}" alt="line">
    <div class="card-body">
      <h5 class="card-title">RETRO ROKET</h5>
      <p class="card-text">An his tamquam postulant,pri id mazim nostrud diceret.</p>

  </div>
  </div>
 
  </div>

 
  </div>
  </div>
 
  <div class="card">
    <img src="{{imageSrcfoot}}" />
  </div>
